.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 30vh;
  margin-bottom: 20vh;
}

.aboutme > h2 {
  font-size: 100px;
  color: #000000;
}

.aboutme__title {
  color: #ffffff;
  margin-bottom: 30px;
}

.aboutme__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  color: #ffffff;
  background-color: #000000;
  border: solid 3px #ffffff;
  width: 40vw;
  height: 20vh;
  font-size: x-large;
  font-weight: 700;
  outline: none;
  margin: 10px 0;
}

.question:hover,
.question:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.answer {
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  max-width: 70vw;
  margin-bottom: 10vh;
}

.aboutme__more {
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  max-width: 70vw;
  margin-top: 15vh;
  margin-bottom: 3vh;
}
.aboutme__more > h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme__more > span > a {
  color: #ffffff;
}

.aboutme__more > span > a > .MuiSvgIcon-root {
  font-size: 80px;
}

.aboutme__more > span > a > .MuiSvgIcon-root:hover {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
  text-decoration: none;
}

@media only screen and (max-width: 414px) {
  #aboutme {
    font-size: 50px;
  }

  .aboutme {
    width: 100vw;
    margin-top: 170vh;
  }

  .question {
    width: 70vw;
  }
}

@media only screen and (max-width: 360px) {
  .aboutme {
    width: 100vw;
    margin-top: 170vh;
  }

  .question {
    width: 70vw;
  }
}
